<!DOCTYPE html>
<html>

<head>
  <title>ilmoituksen muokkaus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>ilmoituksen muokkaus</h1>
  <form action="/update_item" method="post">
    <p>
      otsikko: <br />
      <input type="text" name="title" value="{{ item.title }}" maxlength="50" required/>
    </p>
    <p>
        kuvaus: <br />
        <textarea rows="8" cols="50" name="descr" maxlength="1000" required>{{ item.descr }}</textarea>
    </p>
    <p>
        hinta: <br />
        <input type="text" name="price" size="7" value="{{ item.price }}"/> €
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <p>
      osasto: <br />
      <select name="section_id" required>
        <option value="">(valitse)</option>
        {% for label, options in sections.items() %}
          <optgroup label="{{ label }}">
            {% for section in options %}
              <option value="{{ section.id }}" {% if section.id == item.section_id %}selected{% endif %}>{{ section.name }}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </p>
    <p>
      kunto: <br />
      <select name="condition_id" required>
        {% for condition in conditions %}
          <option value="{{ condition.id }}" {% if condition.id == item.condition_id %}selected{% endif %}>{{ condition.name }}</option>
        {% endfor %}
      </select>
    </p>
    <input type="submit" value="päivitä ilmoitusta" />
    <a href="/show_item/{{ session.item_id }}" class="btn">peruuta</a>
  </form>
</body>

</html>