<!DOCTYPE html>
<html>

<head>
  <title>etsi ilmoitus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>etsi ilmoitus</h1> 

  <form action="/find_item" method="get">
    <p>
        hakusana: <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Lähetä">
  </form>

  <p>
    <a href="/">takaisin</a>
  </p>

  {% if query %}
  <h2>tulokset</h2>
<ul>
  {% for item in results %}
  <li><a href="/show_item/{{ item.id }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
  {% endif %}
</body>

</html>