<!DOCTYPE html>
<html>

<head>
  <title>miubu marketplace</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>miubu.marketplace</h1> 
  {% if session.username %}
  <p>
    hei, {{ session.username }}
  </p>
  <p>
    <a href="/logout">kirjaudu ulos</a>
  </p>
  <p>
    <a  href="/new_item">uusi ilmoitus</a>
  </p>
  {% else %}
  <p>
    <a href="/login">kirjaudu sisään</a>
  </p>
  <p>
    <a href="/register">rekisteröidy</a>
  </p>
  {% endif %}
  <p>
    <a  href="/find_item">etsi ilmoitus</a>
  </p>

  <h2>ilmoitukset</h2>
  <ul>
    {% for item in items %}
    <li><a href="{{ url_for('show_item', item_id=item.id) }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>