<!DOCTYPE html>
<html>

<head>
  <title>miubu marketplace</title>
</head>

<body>
  <h1>miubu.marketplace</h1> 
  {% if session.username %}
  <p>
    Hei, {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/login">kirjaudu sisään</a>
    <a href="/register">rekisteröidy</a>
    <a href="/logout">kirjaudu ulos</a>

  </p>
  <p>
    <a  href="/new_item">Uusi ilmoitus</a>
    <a  href="/find_item">Etsi ilmoitus</a>
  </p>

  <h2>Ilmoitukset</h2>
  <ul>
    {% for item in items %}
    <li><a href="{{ url_for('show_item', item_id=item.id) }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>