<!DOCTYPE html>
<html>

<head>
  <title>lisää ilmoitus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>lisää ilmoitus</h1>
  <form action="/create_item" method="post">
    <p>
      otsikko: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
        kuvaus: <br />
        <textarea rows="8" cols="50" name="descr" maxlength="1000" required></textarea>
    </p>
    <p>
        hinta: <br />
        <input type="text" name="price" size="7" pattern="[1-9][0-9]{0,5}" required/> €
    </p>
    <p>
      osasto: <br />
      <select name="section_id" required>
        <option value="">(valitse)</option>
        {% for label, options in sections.items() %}
          <optgroup label="{{ label }}">
            {% for section in options %}
              <option value="{{ section.id }}">{{ section.name }}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </p>
    <p>
      Kunto: <br />
      <select name="condition_id" required>
        {% for condition in conditions %}
          <option value="{{ condition.id }}">{{ condition.name }}</option>
        {% endfor %}
      </select>
    </p>
    <button type="submit">luo ilmoitus</button>
  </form>

  <p>
    <a href="/">takaisin</a>
  </p>

</body>

</html>