<!DOCTYPE html>
<html>

<head>
  <title>rekisteröinti</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <form action="/create" method="post">
    <p>
      tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</body>

</html>